@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <h1>Change_def</h1>
    <h3>Demos - Henry Schien123</h3>
    <p class="lead">Example .NET app to Azure App Services I am vamshi.</p>
</div>
